# Lab Assignment 6
This is part 3 of the dashboard session. The goal is to make an interactive dashboard with recruiters in mind as the audience. I decided to focus on the following three metrics: <br>
1)Skill set<br>
2)Work experience<br>
3)Program ranking<br><br>

The visualization will utilize a cognitive walkthrough to assist recruiters in making the decision that the MSIS program at Santa Clara University has the candidates best meet their needs for a job position.<br>

The recruiter will first evaluate if the candidate has had training with the data skill they have in mind, then the recruiter will if they have prior work experience in the industry, as well as the average age of candidate. The age might sometimes be considered as a factor, since maturity is often linked with a person's problem solving skills and some soft skills like if they work will with others and how they handle certain situations that might come up in the workplace. Finally, once the recuiter finds the candidate matching the required skills and prior work experience, they can make the final decision by looking at the quality of education received and the reputation of the school in the industry; this will be accomplished by showing first the overall ranking of the school in California, then the recruiter can also elect to see the ranking of the program in California.<br>

The other school chosen for comparison is University of San Francisco, where the Master of Science in Information Systems is very similar to SCU's. However, class profile information on years of prior work experience was not available, thus, to show practical or hands-on experiene experience, I chose to map the different capstone project options available to students from both programs.

## 1. Top Data Skills of 2016: <br>
I used the same set of data (Top Skills of 2016 from Linkedin) from last week's lab, but this time, I filtered out other skills not data-related, as well as kept some skills which SCU MSIS program offered courses in. Put sided by side with the program at SFU, this made the SCU program look very favorable and diverse in terms in terms of courses offered. Below is the final filtered dataset.

In [2]:
import pandas as pd

# load data
df = pd.read_csv('lab6skills.csv', delimiter=',')
df

                                        Skill         SCU         SFU
0                 Cloud Distributed Computing           ✓           ✗
1          Statistical Analysis & Data Mining           ✓           ✓
2  Web Architecture and Development Framework           ✓           ✗
3            Network and Information Security           ✓           ✓
4                          Mobile Development           ✓           ✗
5                           Data Presentation           ✓           ✗
6                     Overall Top Data Skills  6 out of 6  2 out of 6

## 2. Capstone Project Options: <br>
For this table, I mostly wanted to show that the program at SCU gave its students more options when it comes to capstone projects; a big factor for me when chosing program was the practical and hands-on components of the capstone options. For recruiters, they can get a rough idea of which school is giving their students the opportunity to put their acquired skills into practice. Below is the data used:

In [3]:

df = pd.read_csv('lab6capstone.csv', delimiter=',')
df

       Capstone Options         SCU         SFU
0      Industry Project           ✓           ✗
1        Design Project           ✓           ✗
2                Thesis           ✓           ✗
3        Analytic Study           ✗           ✓
4  Overall Availability  3 out of 4  1 out of 4

## 3. University Ranking: <br>
My initial idea was having a graph which combines both overall ranking of all California colleges and MSIS program ranking of California colleges. However, after playing around with the data, I found that by listing all schools in the rank not only made the graphs harder to read, it also weakened my argument that SCU was clearly the better choice when it comes to MSIS programs; SCU was somewhere around the middle in the program ranking, if I had showed the entire list, it didn't make the program as enticing as just showing a general placement of it beside another similar but less superior program. I finally just took the two schools' ranking I was comparing and put them side by side. The final filtered down data is shown below:

In [4]:
df = pd.read_csv('lab6duoRank.csv', delimiter=',')
df

                     College             Rank Type  Rank
0     Santa Clara University       Overall Ranking    10
1     Santa Clara University  MSIS Program Ranking     5
2  San Franciscio University       Overall Ranking    40
3  San Franciscio University  MSIS Program Ranking     6

## Discussion <br>

Published Dashboard:__[Link](https://public.tableau.com/views/Lab6MSISintheBayAreaDashboard/Dashboard1?:embed=y&:display_count=yes&publish=yes)__<br> 

<img src="files/images/lab6dashboard.png"width="60%"><br>
**See Github Read Me for write up**

### Resources Used:<br>
Best Colleges in California: Data downloaded from class data folder __[Link](https://drive.google.com/open?id=0BzDtOOgjkAWUYzJzbGphc3JKNG8)__<br>
Best Information Systems Colleges in California: __[Link](https://www.universities.com/find/california/best/computer-technology/information-systems)__<br>
Top Skills of 2016 by Linkedin: __[Link](https://learning.linkedin.com/week-of-learning/top-skills)__<br>
MSIS Curriculum Info: __[List of Courses](https://www.scu.edu/business/graduates/bulletin/programs-and-admissions/course-descriptions/master-of-science-in-information-systems/)__<br>
University of San Francisco: __[Master of Science in Information Systems Program Requirements](https://www.usfca.edu/catalog/graduate/school-of-management/master-of-science-information-systems)__<br>